/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

/* scrollbar */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    width: 7px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 1rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.logo_panel_img{
    height: 90px !important;
    width: 90px !important;
}
#callus{
  color: #E3B327; 
  padding-right: 278px; 
  font-size: 16px;
}
.whatsapp-icon {
    position: fixed;
    left: 30px;
    bottom: 40px;
    width: 60px;
    height: 60px;
    z-index: 999;
}
/* header */
.reveal_header .logo_normal {
    width: 100px;
    height: 100px;
}
.reveal_header .col-3 {
    flex: 0 0 auto;
    width: 13%;
  }
.reveal_header .col-9 {
  flex: 0 0 auto;
  width: 82%;
}
.booking_form{
    
    margin: 545px auto 0  25px!important;
}


header #mainNav ul{
    list-style: none;

}
.reveal_header:hover{
    background-color: #0d0d27;
} 

/* menu nav */
#mainNav ul li{
    position: relative;
    float: left;
    text-transform: uppercase;
}

#mainNav ul li ul{
    position: absolute;
    width: 208px;
    background-color: whitesmoke;
    left: 0;
    display: none;
    z-index: 9991;
}
#mainNav ul li ul li{
    margin: 10px 10px 10px 10px;
    text-align: left;
    width: 208px;
    padding-top: 10px;
    border-top: 1px solid rgba(80, 76, 76, 0.1);
    border-spacing: 10px;
    display: list-item;
    z-index: 9999;
}

#mainNav ul li ul:hover > li{
    box-sizing: border-box;
    box-decoration-break: slice;
}

 #mainNav ul li:focus-within > ul,
#mainNav ul li:hover > ul {
    display: initial;
    background-color: #0d0d27;
    list-style-type: none;
    margin-top: 20px;       
} 
 /* Room */
.row_list_version_3 .box_item_info {
  max-width: 658px;
  margin: -20px 50px 30px 60px;
}


@media only screen and (max-width: 991px){
  .booking_form{
    display: none;
  }
  .hamburger_2 .btn_2 {
    left: -85%;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
    background-color: red;
    padding: 5px;
    border: 1px solid transparent ;
    border-radius: 1.2rem;
  }
  .hamburger_2 .hamburger__box{
    left:10%;
  }
  
  .a.btn_2, .btn_2 {
    margin-right: -50px;
  }
  .contactIcon3, .contactIcon, .contactIcon1{
    right: 50px !important;
    bottom: 260px;
}
}
  

@media (max-width: 767px){
  .reveal_header {
    width: 100%;
  }
  #callus{
    display: none;
  }
  
}
@media only screen and (max-width: 420px) {
  
  .hamburger_2 .btn_2 {
    left: -80%;
    top: 30px;
    width: 170%;
    height: 100%;
    display: inline-block;
    position: relative;
    
    text-align: center;
    background-color: red !important;
    padding: 5px;
    border: 1px solid transparent ;
    border-radius: 1.2rem;

  }
  .hamburger_2 .hamburger__box{
    left:80%;
  }
  .reveal_header .col-9 {
    flex: 0 0 auto;
    width: 70%;
  }
  .contactIcon3, .contactIcon, .contactIcon1{
    right: 30px !important;
    bottom: 260px;
}
  
}

@media only screen and (min-width: 991px) {
  
  .hamburger_2 .btn_2 {
    visibility: hidden; 
  }
  
 
}
@media only screen and (min-width: 1200px) {
  .reveal_header .container {
    max-width: 1225px;
  }
}


